.mainheader {
  background-image: url("https://uploads-us-west-2.insided.com/nutanix-us/attachment/07bf564c-073c-428d-bd1b-dd9d856c33b0_thumb.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
  background-position: center center;
  margin-bottom: 2rem;
}
